.dashboard-links {
  background-color: $white;
  padding: 1.5rem 0;

  .container {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    @include responsive-md {
      flex-direction: column;
    }
  }
  .dashboard-link {
    @include button-style(
      // $bg-color: $primary-blue,
      $padding-y: 0.8rem,
      $padding-x: 1rem,
      $hover-bg-modifier: "lighten",
      $hover-bg-amount: 10%,
      $hover-transform-y: -3px
    );

    &.data-dashboard {
      background-color: $orange-button;
    };

    &.impact-pages {
      background-color: $primary-blue;
    };
    
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-weight: $font-weight-medium;
    gap: 0.5rem;
    transition: all 0.3s ease;
    .icon {
      width: 24px;
      height: 24px;
      display: inline-block;
    }
  }
}

/* Main tab navigation */
.main-tabs {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #dee2e6;
  padding: 0;
  margin: 20px auto 30px;
  position: relative;
  max-width: 400px;

  .tab-link {
    padding: 15px 20px;
    text-decoration: none;
    color: $text-light-data;
    font-weight: $font-weight-medium;
    position: relative;
    transition: color 0.3s;
    text-align: center;
    flex: 1;

    &:hover {
      color: $primary-color-data;
    }

    &.active {
      color: $primary-color-data;
    }
  }

  .tab-indicator {
    position: absolute;
    bottom: -1px;
    height: 3px;
    width: 50%;
    background-color: $primary-color-data;
    transition: transform 0.3s;
    left: 0;

    &.right {
      transform: translateX(100%);
    }
  }
}
