# Operating System files
.DS_Store
Thumbs.db
Desktop.ini

# Log files
*.log

# Dependency directories
node_modules/
vendor/

# Build and distribution folders
dist/
build/

# Compiled files
*.class
*.o
*.out

# Editor and IDE settings
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Temporary and backup files
*.tmp
*.temp
*.swp
*.swo

# Python-specific files
*.pyc
*.pyo
**/__pycache__/
**/__iniit__.py
env/
venv/
.venv/

# Secret Environment
.env

# Ruby-specific files
.bundle/

# database files
FullStack/policylens/db.sqlite3
FullStack/policylens/api/management/commands/cars_data.csv
FullStack/policylens/api/management/commands/fuelprice_level.csv

FullStack-Language/policylens/db.sqlite3
FullStack-Language/policylens/static/assets/Product Video.mp4
